<header>
<img src="http://dummyimage.com/100x50/d3d3d3/000.png&text=ロゴ(100x50)" alt="SampleApp" class="round">
<nav class="round">
<ul>
  <li><%= link_to 'トップ', root_path %></li>
  <li><%= link_to 'ヘルプ', root_path %></li>
</ul>
</nav>
</header>
